<header>
    <a href="/" class="home-link">
    <picture>
        <source srcset="/images/jolly-blue-man-logo-white.svg" media="(prefers-color-scheme: dark)">
        <source srcset="/images/jolly-blue-man-logo.svg" media="(prefers-color-scheme: light)">
        <img src="/images/jolly-blue-man-logo.svg" alt="Jolly Blue Man Logo" class="logo">
    </picture>
    <h1 class="ml-1">Jolly Blue Man</h1>
    </a>
    <div>
        <span class="material-symbols-outlined theme-toggle pointer pb-1">routine</span>
        <nav>
            <a href="/things">Things</a>
        </nav>
    </div>
</header>
