<header>
    <a href="{{ url_for('home') }}" class="home-link" {% if is_current_url('home') %}aria-current="page"{% endif %}>
    <picture>
        <source srcset="/images/jolly-blue-man-logo-white.svg" media="(prefers-color-scheme: dark)">
        <source srcset="/images/jolly-blue-man-logo.svg" media="(prefers-color-scheme: light)">
        <img src="/images/jolly-blue-man-logo.svg" alt="Jolly Blue Man Logo" class="logo">
    </picture>
    <h1 class="ml-1">Jolly Blue Man</h1>
    </a>
    <div>
        <span class="material-symbols-outlined theme-toggle pointer">routine</span>
        <nav>
            {% include 'components/nav-link.twig' with {'route_name': 'things.index', 'link_text': 'Things'} %}
            {% include 'components/nav-link.twig' with {'route_name': 'bits.index', 'link_text': 'Bits'} %}
        </nav>
    </div>
</header>
