<header>
    <picture>
        <source srcset="/images/jolly-blue-man-logo-white.svg" media="(prefers-color-scheme: dark)">
        <source srcset="/images/jolly-blue-man-logo.svg" media="(prefers-color-scheme: light)">
        <img src="/images/jolly-blue-man-logo.svg" alt="Jolly Blue Man Logo" class="logo">
    </picture>
    <h1 class="ml-1">Jolly Blue Man</h1>
    <div>
        <span class="material-symbols-outlined theme-toggle pointer px-1 pb-1">routine</span>
        <nav>
            <a href="#">Link</a>
        </nav>
    </div>
</header>
{#<p class="text-s text-justify mt-1">Hello. My name is Tom Wilford, but my website is called Jolly Blue Man (it was a polite way of saying I look like a troll).</p>#}