{% extends 'components/base.twig' %}

{% block title %}Jolly Blue Man{% endblock %}

{% block content %}
    <section>
        <p>Hello. I'm Tom Wilford.<br>
            These things are my fault.<br>
        </p>
        <p class="text-s">Sorry about that.</p>
    </section>
    <hr>
    <section>
        <h2>Recent Things</h2>
        {% for thing in things %}
            <p>{{ thing.name }}</p>
        {% endfor %}
    </section>
{% endblock %}