{% extends 'components/base.twig' %}

{% block title %}Jolly Blue Man{% endblock %}

{% block content %}
    <h2>These things are my fault.</h2>
    <h2 class="mt-0">Sorry about that.</h2>
{% endblock %}