{% extends 'components/base.twig' %}

{% block title %}Jolly Blue Man{% endblock %}

{% block content %}
    <section>
        <p>Hello. I'm Tom Wilford.<br>
            These things are my fault.<br>
            Sorry about that.
        </p>
    </section>
    <hr class="my-5">
    <section>
        {% include 'components/subtitle.twig' with {'subtitle': 'Recent Things'} %}
        {% for thing in things %}
            {% include 'components/things-list.twig' with {'thing': thing} %}
        {% endfor %}
        <a href="/things" class="mt-3">More...</a>
    </section>
    <hr class="my-5">
{% endblock %}