@font-face {
    font-family: "NCL Aekabih Muskey";
    src: url('/fonts/NCLAekabihMuskey/NCLAekabihMuskey-Regular.otf');
    src: url('/fonts/NCLAekabihMuskey/NCLAekabihMuskey-Regular.otf') format('opentype'),
    url('/fonts/NCLAekabihMuskey/NCLAekabihMuskey-Regular.woff2') format('woff2'),
    url('/fonts/NCLAekabihMuskey/NCLAekabihMuskey-Regular.woff') format('woff'),
    url('/fonts/NCLAekabihMuskey/NCLAekabihMuskey-Regular.ttf') format('truetype');
}
html {
    transition: color,background-color 0.3s cubic-bezier(.6,.04,.98,.34);
}

a {
    text-underline-offset: 0.145rem;
}

header {
    display: flex;
    align-items: end;
}
.logo {
    display: inline;
    width: 3.8rem;
    height: auto;
}
.home-link,
.home-link:visited {
    text-decoration: none;
    color: var(--text-color);
}
.light-mode .home-link,
.light-mode .home-link:visited {
    color: var(--dark-color);
}
.dark-mode .home-link,
.dark-mode .home-link:visited{
    color: var(--light-color);
}


header h1 {
    font-family: 'NCL Aekabih Muskey', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    width: 5rem;
    line-height: 2rem;
    margin: 0;
}

header div {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 100%;
}

.theme-toggle {
    text-align: right;
    color: var(--text-color-alt);
    transition: color 0.3s cubic-bezier(.6,.04,.98,.34);
}
.theme-toggle:hover {
    color: var(--text-color);
}

.light-mode .theme-toggle {
    color: var(--dark-color-alt);
}
.light-mode .theme-toggle:hover {
    color: var(--dark-color);
}

.dark-mode .theme-toggle {
    color: var(--light-color-alt);
}
.dark-mode .theme-toggle:hover {
    color: var(--light-color);
}

.things-list {
    display: flex;
    flex-direction: row;
    gap: 1.618rem;
    align-items: baseline;
}

.things-list p {
    flex-grow: 1;
}

@media screen and (max-width: 480px) {
    .things-list {
        flex-direction: column;
        gap: 0.236rem;
        margin-bottom: 1.618rem;
    }

    .things-list p {
        margin-bottom: 0;
    }
}

.things-details {
    overflow-x: auto;
}

.things-details td,
.things-details th {
    width: 25%;
    white-space: nowrap;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}