<div class="album-details">
    <table>
        <tr>
            <th>Location</th>
            <td>{{ album.location }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ album.date }}</td>
        </tr>
        <tr>
            <th>Camera</th>
            <td>{{ album.camera.displayName }}</td>
        </tr>
    </table>
</div>