{% extends 'components/base.twig' %}

{% block title %}{{ album.name }} | Jolly Blue Man{% endblock %}

{% block content %}
    <section>
        <h2 class="text-m">{{ album.name }}</h2>
        {% include 'albums/components/album-details.twig' with {'album': album } %}
        {% for row in snaps|batch(4) %}
            {% set mode = random([1, 2, 4]) %}

            {% if mode == 1 %}
                {% include 'albums/components/one-snap.twig' with {'row': row} %}
            {% elseif mode == 2 %}
                {% include 'albums/components/two-snaps.twig' with {'row': row} %}
            {% elseif mode == 4 %}
                {% include 'albums/components/four-snaps.twig' with {'row': row} %}
            {% endif %}
        {% endfor %}
    </section>
    <hr class="my-5">
{% endblock %}
